[submodule ".zsh/externals/git-prompt"]
	path = .zsh/externals/git-prompt
	url = https://github.com/fluffynuts/git-prompt.zsh
[submodule ".zsh/externals/powerlevel10k"]
	path = .zsh/externals/powerlevel10k
	url = ssh://git@github.com/romkatv/powerlevel10k
